* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  
  #head img{
      height: 80px;
      width: 100px;
      float:left;
  }
  
  #head header {
      background-image: linear-gradient(to right, rgb(0, 255, 255),rgb(0, 153, 255) , rgb(0, 102, 255));
      padding: 30px;
      
  }
  #head h2{
      font-size: 70px;
      color: rgb(255, 255, 255);
      display: inline;
      font-family:'Times New Roman', Times, serif;
      text-shadow: 4px 4px 8px #000000;
  }
  #head h3{
      font-size: 30px;
      color: white;
      padding-left: 100px;
      display: inline;
      text-shadow: 4px 4px 8px #000000;
      font-family: Arial, Helvetica, sans-serif;
  }
  #head marquee{
      color: azure;
      text-shadow: 2px 2px 4px #000000;
  }
  
  /* Create two columns/boxes that floats next to each other */
  
  /* start nav */
  nav {
    float: left;
    width: 100%;
    height: 46px; /* only for demonstration, should be removed */
    background: #000000;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000000;
      margin-top: -20px;
      margin-left: -20px;
    }
    
    li {
      float: left;
      padding-left: 150px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 102, 255));
      color: #000000;
    }
  /* end nav */
  
  
  
  section {
      padding: 0 20px 20px 20px;
      width: 800px;
      float: right;	
      column-count: 2;
  }
  
  article p {
      float: left;
      padding-top: 10px;
      padding-bottom:.5em;
  
  }
  article img {
      float: left;
      border: 1px solid black;
      width: 360px;
      margin: .25em 0px 5px 1px;
      margin-top: -20px;
  }
  aside {
      width: 235px;
      float: left;
      padding: 0 0 20px 20px;
  }
  aside h2 {
      color: #00aeff;
      font-size: 150%;
      padding: .5em 0 .4em;
  }
  aside h3 {
      font-size: 110%;
      padding-bottom: .25em;
  }
  aside img {
      padding-bottom: .9em;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
      margin-top: 1200px;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  footer h2{
      color: #ffffff;
      font-style: normal;
  }
  audio {
    margin: auto;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }